{% extends file %}

{% block css %}
<style>
form{
    position: relative;
    top: 50px;
    margin: 0;
}
form input{
    padding: 5px;
}
form button{
    padding: 5px;
    background-color: white;
    border-color: white;
    color: black;
}
body{
    background-color: darkcyan;
    overflow: hidden;
}
@media only screen and (max-width: 1000px) {
#header {
    font-size: 30px;
}
}
@media only screen and (max-width: 800px) {
#header {
    font-size: 25px;
}
}
@media only screen and (max-width: 600px) {
    #header {
        font-size: 20px;
    }
    form input{
    padding: 2.5px;
}
form button{
    padding: 2.5px;
    border-radius: 4px;
}
    }
</style>
{% endblock %}